
<%= form_for([@post , @post.comments.build ], :validate => true)  do |f| %>

  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    <hr></hr>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
