<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ng Yao Min personal webpage</title>
    <%= stylesheet_link_tag "assets/css/bootstrap.min.css" %>
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <%= stylesheet_link_tag "assets/css/Article-List.css" %>
    <%= stylesheet_link_tag "assets/css/Features-Boxed.css" %>
    <%= stylesheet_link_tag "assets/css/Footer-Basic.css" %>
    <%= stylesheet_link_tag "assets/css/Navigation-Clean1.css" %>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>



<body>
    <nav class="navbar navbar-default navigation-clean" data-bs-hover-animate="rubberBand">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link"><strong>Ng Yao Min Blog Page</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" data-bs-hover-animate="pulse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                  <li role="presentation"><%= link_to 'My Portfolio', controller: 'blog' %> </a></li>
                  <li role="presentation" data-bs-hover-animate="flash"><a href="resume.html">My Resume</a></li>
                  <li role="presentation" data-bs-hover-animate="flash"><a href="travel.html">Travel page</a></li>
                  <li role="presentation"><%= link_to 'My Blog', controller: 'posts' %> </a></li>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="investments.html">Investments </a></li>
                            <li role="presentation"><a href="#">project 2</a></li>
                            <li role="presentation"><a href="#">project 3</a></li>
                            <li role="presentation"><a href="#">project 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Latest Happening</h2>
                <p class="text-center">Here are some articles I wrote</p>
            </div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item">
                    <a href="#">
                      <img class="img-responsive" <%= image_tag("desk.jpg", :alt => "desk") %>></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                <div
                class="col-md-4 col-sm-6 item">
                    <img class="img-responsive" <%= image_tag("loft.jpg", :alt => "loft") %>></a>
                    <h3 class="name">To be inputed</h3>
                    <p class="description">To be inputted,.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
            <div class="col-md-4 col-sm-6 item">
                <img class="img-responsive" <%= image_tag("building.jpg", :alt => "building") %>></a>
                <h3 class="name">To be</h3>
                <p class="description">or not to be</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
        </div>
    </div>
    </div>

    <h1>Listing of postings</h1>



      <% @posts.each do |post| %>
    <div class = container>
        <h2>  <%= post.title %> </h2>
        <h7>  <%= post.author %> </h7>
        <p>  <%= post.sayings.truncate_words(25) %> </p>
          <%= link_to 'Show', post_path(post) %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post_path(post),
               method: :delete,
               data: { confirm: 'Are you sure or not ur precious would be terminated lei?' } %>
    </div>
      <% end %>


    <div class="bloglink">
    <%= link_to 'Share your experience', new_post_path %>
    </div>

    <div class="bloglink">
    <%= link_to 'My profile Page', controller: 'blog' %>
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/ngyaomin" target="_blank"><i class="icon ion-social-github-outline"></i></a><a href="mailto:ngyaomin@ymail.com" target="_blank"><i class="icon ion-ios-email-outline"></i></a><a href="https://sg.linkedin.com/in/yao-min-ng-525b8523"
                target="_blank"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://www.facebook.com/ngyaomin" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">Ng Yao Min© 2017</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="assets/js/tabbed_slider.js"></script>




</body>

</html>
